@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
    --background-color: #fcfdfd;
    --texto-secundario: #a8aab4;
    --texto-principal: #1c1e21;
    --texto-azul: #4a5df9;
    --texto-vermelho: #f5142a;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
}

#navigation img {
    width: 150px;
}

#navigation div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

#navigation a {
    color: var(--texto-principal);
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

#navigation #login {
    padding: 15px 20px;
    color: white;
    background-color: var(--texto-azul);
    border-radius: 5px;

}

#navigation #login:hover {
    background-color: var(--background-color);
    color: var(--texto-azul);
    border: 1px solid var(--texto-azul);
}

#navigation #cadastro:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #4a5df9;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 500px;
    font-family: sans-serif;
}

main {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(255, 0, 179); */
    overflow: hidden;

    display: flex;
    align-items: center;
}

.fy-container {
    width: 50%;
    height: 90%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    margin: 0 auto;

    /* background-color: #4a5df9; */

    display: flex;
    flex-direction: column;
}

.fy-container::-webkit-scrollbar {
    display: none;
}

.fy-slide {
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 100px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: #67f94a; */
}

.slide-info {
    /* background-color: #a8aab4; */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.slide-info h2 {
    font-weight: bold;
    font-size: 20px;
}

.slide-info p {
    font-size: 13px;
    color: var(--texto-azul);
}

.slide-info img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.slide-conteudo img {
    border-radius: 15px;
    width: 247px;
    height: 343px;
    object-fit: cover;
}